<h3>Welcome, {{key}}!</h3>

<p>
<a [routerLink] = "['/dashboard']"> Dashboard </a> |
<a [routerLink] = "['/logout']" (click)="logout()"> Logout </a>
</p>

<div>
  <table>
  <thead>
   
    <th>Posts Name:</th>
    <th>Description:</th>
    <th>Number of Comments:</th>
    <th>Action:Edit</th>
    <th>Action:Delete</th>
  </thead>
  <tbody>
    <tr *ngFor = "let topic of topics">
      <td><a [routerLink]="['/topic',topic._id]">{{topic.name}}</a></td>
      <td>{{topic.description}}</td>
      <td>{{topic.posts.length}}</td>
      <td *ngIf = 'key === topic._user.username'><p [routerLink]="['/edit',topic._id]">Edit</p> </td>
      <td *ngIf = 'key === topic._user.username'><p (click)="destroy(topic._id, topic.description)">Delete </p> </td>
    </tr>
  </tbody>
</table>
<br>
<app-addtopic (createtopic) = "updatetopics()"></app-addtopic>
</div>